<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.splits-ls.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. .ru</name>

    <description>
        Мир растяжки теперь и на андроид
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/f7cd616392e518fc238ed28afc967dc1.png" density="ldpi" />
        <icon src="res/android/icon/c680cd7d5f9661f58a5613c0340da7c4.png" density="mdpi" />
        <icon src="res/android/icon/c993d0462cebe6add48edeef6cb7ab7b.png" density="hdpi" />
        <icon src="res/android/icon/d2295c50d64926fbccc45f91e1c39789.png" density="xhdpi" />
        <icon src="res/android/icon/a11ecfa8fc35fdd95523ad02848abb98.png" density="xxhdpi" />
        <icon src="res/android/icon/f351ba9a8ae2e553edfc51b1b7e0acbe.png" density="xxxhdpi" />

        <splash src="res/android/screen/551c380bd28ff1891152885a44e3d77e.png" density="port-hdpi"/>
        <splash src="res/android/screen/93d17442abc206edec2d41cffc28f659.png" density="port-ldpi"/>
        <splash src="res/android/screen/05f4daa0283486ce55612c139e391edd.png" density="port-mdpi"/>
        <splash src="res/android/screen/16e156a30d2a8b08ab3ff74e3d54282f.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/569aca0a38ea3ab66cbbd434541f26f1.png" width="180" height="180" />
        <icon src="res/ios/icon/4d0e8404f7fa28f78fc1f9dbe9f81d57.png" width="60" height="60" />
        <icon src="res/ios/icon/9cb4ca585d9926c6229f9ebf25868a72.png" width="120" height="120" />
        <icon src="res/ios/icon/f0ec106a627f17627f707eccd58288ca.png" width="76" height="76" />
        <icon src="res/ios/icon/83880daf0ddaaf132361e6308cf30c4c.png" width="152" height="152" />
        <icon src="res/ios/icon/c6068baf1ef5d24cd406bf458295ccb3.png" width="57" height="57" />
        <icon src="res/ios/icon/9c7a386ded5cc55b6b7f5a6f7ddf75fe.png" width="114" height="114" />
        <icon src="res/ios/icon/bcced5b0bbe1082f2e2f03a8dada2fba.png" width="72" height="72" />
        <icon src="res/ios/icon/f0b721ff18e7352d67223fa22df20a6c.png" width="144" height="144" />
        <icon src="res/ios/icon/d37db305ec4991d47d8b9f1c71c09f60.png" width="167" height="167" />
        <icon src="res/ios/icon/b4fc3f594c6a8050ad9baf6580f39863.png" width="29" height="29" />
        <icon src="res/ios/icon/beaec07154dcb5c91332ac17f8b5c855.png" width="58" height="58" />
        <icon src="res/ios/icon/5b20149079bb505430d48f2488fc81f2.png" width="87" height="87" />
        <icon src="res/ios/icon/f5130951a2af629806d98bb24d9ce6cd.png" width="167" height="167" />

        <splash src="res/ios/screen/c80c3860c275e3080efca5145e01be6e.png" />
        <splash src="res/ios/screen/73ff37c8f8ec8df59442d4ef70c5c96d.png" />
        <splash src="res/ios/screen/2336d7fa832d07316e02787aa2903f99.png" />
        <splash src="res/ios/screen/6498092ddb9cb4a7a3269c6a7e306135.png" />
        <splash src="res/ios/screen/fff3d2ac7594fb5928d74d5ccd98bd0f.png" />
        <splash src="res/ios/screen/67592d85824cdc2598a952848d319c79.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/5812c37c9eb45b0704b9ee0190a2ac44.png" target="StoreLogo" />
        <icon src="res/windows/icon/3ef6a182eedaab118864be6a9727b585.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/3ef9f4a0e2c926fbab9ddefa04bfbe83.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/f39f6fbc66955e6341bb4a6bbc48e014.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/2e149babbe909b5ca5d4ebfeb6f7551c.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/5669f022ac1a44a316ae02f134e97cee.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/8de551e154b1ac8b2e84f2de0b7c56c3.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/af985bd0f4350b87416504af4353deea.png" target="SplashScreen"/>
        <splash src="res/windows/screen/ecb70c9af75ed1d177d644dd26d1b1e4.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>